.title_P{
    color: red;
}


.container{
    border: 1px black solid;
    background-color: pink;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}


body{
    background-color: #FFFB9E
}
