.title_P{
    color: red;
}
<<<<<<< HEAD

=======
>>>>>>> 6fc4cf0 (creating features to meta page)


.container_meta{
    border: 1px black solid;
    background-color: pink;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}


.page_meta{
    background-color: #FFFB9E
}
<<<<<<< HEAD
=======

>>>>>>> 6fc4cf0 (creating features to meta page)
