<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <h1 class="title_P">Main page !!!</h1>
    <a href="/page_meta">Ir para metas</a>
    
    #creates the checklist with the title that user typed
        <form action="/create_checklist" method="POST">
            <input type="text" name="titulo" placeholder="Digite o titulo da checklist" required>
            <button>Criar nova checklist</button>
        </form>

    <hr>
    {% for checklist in checklists %}
    {% set checklist_id = loop.index0 %}
    <div class="container">
        <h3>Checklist {{ loop.index }}</h3>
        <form action="/add_task/{{ checklist_id }}" method="POST">
            <input type="text" name="task" placeholder="Digite a tarefa" required>
            <button type="submit">Adicionar</button>
        </form>
        <ul>
            {% for task in checklist %}
            <li>
                <input type="checkbox">{{ task }}

                <a href="/delete_task/{{ checklist_id }}/{{ loop.index0 }}">
                    <button>Deletar</button>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% endfor %}
</body>

</html>