<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <h1>Pagina de metas</h1>
    <a href="/">
        <button>Voltar para pagina de checklist</button>
    </a>
    <form action="/create_meta" method="POST">
        <input type="text" name="titulo_meta" placeholder="Digite o titulo da meta" required>
        <button> Criar meta</button>
    </form>



    <hr>
    <button>Salvar</button>
    {% for meta in metas%}
    <div class="container">
        <h3>{{ meta.titulo }}</h3>
        <form action="/add_task_meta/{{ meta.id }}" method="POST">
            <input type="text" name="task_meta" placeholder="Digite nova tarefa" required>
            <button type="submit">Adicionar tarefa</button>
        </form>
        <ul>
            {% for task_meta in meta.tarefas %}
            <li>
                <input type="checkbox">{{ task_meta[1] }}

                <form action="{{ url_for('delete_task_meta', id=task_meta[0]) }}" method="POST">
                    <button type="submit">Deletar</button>
                </form>

            </li>
            {% endfor %}

        </ul>
    </div> {% endfor %}


</body>

</html>