<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body class="page_meta">
    <h1>Pagina de metas</h1>
    <a href="/">
        <button>Voltar para pagina de checklist</button>
    </a>
    <a href="/create_meta">
        <button> Criar meta</button>
    </a>
<hr>
    {% for meta in metas%}
    {% set meta_id = loop.index0 %}
    <div class="container_meta">
        <h3>Meta {{loop.index}}</h3>
        <form action="/add_task_meta/{{ loop.index0 }}" method="POST">
            <input type="text" name="task_meta" placeholder="Nova tarefa" required>
            <button type="submit">Adicionar tarefa</button>
        </form>
        <ul>
            {% for task_meta in meta %}
            <li>
                    <input type="checkbox">{{ task_meta }}

            <a href="/delete_task_meta/{{ meta_id }}/{{ loop.index0 }}">
                <button>Deletar</button>
            </a>
            </li>
            {% endfor %}

        </ul>
    </div>
    {% endfor %}
   
</body>
</html>